{% extends 'blog/base.html' %} {% block content %}
{% if profile %}
<div class="container text-center">
    <div class="row">
        <div class="col-11">
            <h1>Perfil de {{profile.user.username}}</h1>
        </div>
<div class="card" style="width: 20rem;">
    <div class="card-body">
        <div class="col-3"></div>
            <h5 class="card-title">{{profile.user.username}}</h5>
        <div class="card"></div>
            <img 
                src="https://pbs.twimg.com/media/F_kn_xHbIAAY2vd?format=jpg&name=large "
                class="card-img-top" 
                style="object-fit:contain;height: 300px;"
                alt="Nah I'd win 2">
            <h6 class="card-subtitle mb-1 p-2">Email: {{profile.user.email}}</h6>
            <p class="card-text">Descripcion: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores velit numquam soluta reprehenderit tempora, esse quidem laborum, odit distinctio dignissimos aliquam minima voluptates maxime beatae maiores magni in suscipit necessitatibus.</p>
    </div>
  </div>

{% endif %}
{% endblock content %}