{% extends 'blog/base.html' %}

{% block title %} Buscaste {{query}} {% endblock title %}

{% block content %}

{% if query %}
<div class="container text-center my-5">
    <div class="row">
        {% if posts %}
        <h1 class="text-center">Buscaste "{{query}}"</h1>
        {% for post in posts %}
            <div class="col-md-4 my-3">
                <div class="card" >
                    <div class="card-body">
                    <h5 class="card-title"><a href="#" class="text-decoration-none text-light">{{post.title}}</a></h5>
                    <h6 class="card-subtitle mb-2 muted">por {{post.author}}</h6>
                    <p class="card-text text-start">{{post.content|truncatechars:200}}</p>
                    <small class="card-link">{{ post.date_published|date:"Y-m-d" }}</small>
                    <a href="#" class="card-link">Leer mas</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <h3 class="text-center">No se encontraron resultados para  "{{query}}"</h3>
        {% endif %}
    </div>
</div>

{% else %}
<h1 class="text-center my-5">Inserte termino de busqueda</h1>
{% endif %}
{% endblock content %}